/*
* Based on Skeleton by Dave Gamache (www.getskeleton.com)
* Modified by Vasterad
*/

/* Table of Contents
==================================================
    #Base (1180 Grid)
    #Desktop (960 Grid)
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

/* #Base (1180 Grid)
================================================== */

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */

.column.alpha,
.columns.alpha {
  margin-left: 0;
}

.column.omega,
.columns.omega {
  margin-right: 0;
}

/* Base Grid */

.container .one.column,
.container .one.columns {
  width: 55px;
}

.container .two.columns {
  width: 130px;
}

.container .three.columns {
  width: 205px;
}

.container .four.columns {
  width: 280px;
}

.container .five.columns {
  width: 355px;
}

.container .six.columns {
  width: 430px;
}

.container .seven.columns {
  width: 505px;
}

.container .eight.columns {
  width: 580px;
}

.container .nine.columns {
  width: 655px;
}

.container .ten.columns {
  width: 730px;
}

.container .eleven.columns {
  width: 805px;
}

.container .twelve.columns {
  width: 880px;
}

.container .thirteen.columns {
  width: 955px;
}

.container .fourteen.columns {
  width: 1030px;
}

.container .fifteen.columns {
  width: 1105px;
}

.container .sixteen.columns {
  width: 1180px;
}

.container .one-third.column {
  width: 380px;
}

.container .two-thirds.column {
  width: 780px;
}

body.boxed {
  width: 1340px;
}

@media only screen and (min-width: 1289px) and (max-width: 1360px) {
  body.boxed {
    width: 100%;
  }
}

/* #Dekstop (960 Grid)
================================================== */

/* Note: Design for a width of 960px */

@media only screen and (min-width: 960px) and (max-width: 1289px) {
  .container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  .container .column,
  .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
  .row {
    margin-bottom: 20px;
  }
  /* Nested Column Classes */
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
  }
  /* Base Grid */
  .container .one.column,
  .container .one.columns {
    width: 40px;
  }
  .container .two.columns {
    width: 100px;
  }
  .container .three.columns {
    width: 160px;
  }
  .container .four.columns {
    width: 220px;
  }
  .container .five.columns {
    width: 280px;
  }
  .container .six.columns {
    width: 340px;
  }
  .container .seven.columns {
    width: 400px;
  }
  .container .eight.columns {
    width: 460px;
  }
  .container .nine.columns {
    width: 520px;
  }
  .container .ten.columns {
    width: 580px;
  }
  .container .eleven.columns {
    width: 640px;
  }
  .container .twelve.columns {
    width: 700px;
  }
  .container .thirteen.columns {
    width: 760px;
  }
  .container .fourteen.columns {
    width: 820px;
  }
  .container .fifteen.columns {
    width: 880px;
  }
  .container .sixteen.columns {
    width: 940px;
  }
  .container .one-third.column {
    width: 300px;
  }
  .container .two-thirds.column {
    width: 620px;
  }
  body.boxed {
    width: 1060px;
  }
}

@media only screen and (max-width: 1080px) {
  body.boxed {
    width: 100%;
  }
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }
  .container .two.columns {
    width: 76px;
  }
  .container .three.columns {
    width: 124px;
  }
  .container .four.columns {
    width: 172px;
  }
  .container .five.columns {
    width: 220px;
  }
  .container .six.columns {
    width: 268px;
  }
  .container .seven.columns {
    width: 316px;
  }
  .container .eight.columns {
    width: 364px;
  }
  .container .nine.columns {
    width: 412px;
  }
  .container .ten.columns {
    width: 460px;
  }
  .container .eleven.columns {
    width: 508px;
  }
  .container .twelve.columns {
    width: 556px;
  }
  .container .thirteen.columns {
    width: 604px;
  }
  .container .fourteen.columns {
    width: 652px;
  }
  .container .fifteen.columns {
    width: 700px;
  }
  .container .sixteen.columns {
    width: 748px;
  }
  .container .one-third.column {
    width: 236px;
  }
  .container .two-thirds.column {
    width: 492px;
  }
  .companyLink {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column,
  .container .twelve.sidebar-right.columns,
  .container .twelve.sidebar-left.columns,
  .container .five.sidebar-right.columns,
  .container .eleven.sidebar-right.columns {
    width: 100%;
  }
  .search-container input, .search-container select {
    min-height: 44px;
    height: 44px;
    padding: 12px 6px;
  }
  select {
    text-indent: 0;
    word-wrap: normal;
    text-transform: none;
  }
  input {
    text-indent: 2px;
  }
  button {
    padding-left: 18px;
    padding-right: 18px;
  }
  .search-container button {
    height: 44px;
  }
  .app-header #navigation i {
    margin-right: 0 !important;
  }
  .search-container h2 {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .app-header #logo h2 {
    line-height: 80px;
  }
  header {
    height: 80px;
  }
  .menu ul {
    margin: 20px 0 0 25px;
  }
  #home > .container > .columns > .padding-right,
  .job-listing > .columns > .padding-right {
    padding: 0;
  }
  #titlebar {
    padding: 70px 12px;
  }
  #titlebar h1 b,
  #titlebar h1 strong {
    display: block;
  }
  .listing {
    padding: 24px 12px;
    flex-direction: row-reverse;
  }
  .listing .listing-title {
    padding-left: 12px;
    flex: 1;
  }
  .listing-logo {
    position: absolute;
  }
  .listing .listing-title h4 {
    padding-right: 50px;
  }
  .detail-content-container > .columns > .padding-right  {
    padding-right: 0;
  }
  .tag-search-btn {
    height: 44px;
    margin-bottom: 12px;
    display: block;
    width: 100%;
  }
  #titlebar h1, #titlebar h2 {
    font-size: 24px;
  }
  .job-overview, .job-spotlight {
    padding: 24px;
  }
  .info-banner {
    padding: 24px;
  }
  .subscribe-widget {
    padding: 0;
  }
  #footer {
    text-align: center;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search-container input, .search-container select {
    font-size: 14px;
  }
  .fake-input, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
    padding: 12px 6px;
  }
  .subscribe-widget input[type="text"] {
    padding: 12px 6px;
  }
  .app-header #navigation a {
    padding: 12px 16px;
  }
  .menu ul li {
    margin-left: 6px;
  }
  .multiselect__tags,
  .search-container .multiselect__tags {
    padding: 11px 8px;
  }
  .multiselect__option,
  .search-container .multiselect__option {
    padding: 11px 8px;
  }
  .multiselect__element:first-child .multiselect__option,
  .search-container .multiselect__element:first-child .multiselect__option {
    margin: 0;
  }
  .multiselect__element:last-child .multiselect__option,
  .search-container .multiselect__element:last-child .multiselect__option {
    margin: 0;
  }
  .search-container .multiselect__tags,
  .search-container .multiselect__option {
    font-size: 14px;
  }

  .multiselect.is-searchable .multiselect__content-wrapper {
    top: 36px;
  }
  .multiselect.is-searchable.multiselect--above .multiselect__content-wrapper {
    bottom: 36px;
  }
  .search-container .multiselect.is-searchable .multiselect__content-wrapper {
    top: 36px;
  }
  .search-container .multiselect.is-searchable.multiselect--above .multiselect__content-wrapper {
    bottom: 36px;
  }
  .job-overview {
    margin-top: 24px;
  }
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    max-width: 420px;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column,
  .container .twelve.sidebar-right.columns,
  .container .twelve.sidebar-left.columns,
  .container .five.sidebar-right.columns,
  .container .eleven.sidebar-right.columns {
    width: 100%;
  }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.job-listing {
  margin-bottom: 50px;
}
